<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyBbKoICmu5Y7dRwkwBNhnr7p4PfWHkj2kA</string>
	<key>GCM_SENDER_ID</key>
	<string>396911782295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Enes.PostArt</string>
	<key>PROJECT_ID</key>
	<string>postart-865c8</string>
	<key>STORAGE_BUCKET</key>
	<string>postart-865c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:396911782295:ios:663d1ef59de11c8fc03cd2</string>
</dict>
</plist>
